section{
    margin-top: 60px;
}
/* nav style start */
.logo-area {
    display: flex;
    align-items: center;
}
.Duel-color{
    color: #FF42A5;
}
p.logo-text {
    font-size: 2rem;
    font-weight: 700;
    font-family: sans-serif;
    margin-left: 0.4rem;
}

img.logo {
    display: flex;
    align-items: center;}

nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.menu-area ul {
    display: flex;
    align-items: center;
}

.menu-area ul li {
    list-style: none;
    margin: 29px;
}

img.logo {
    width: 80px;
    height: 40px;
}

.menu-area ul li a {
    text-decoration: none;
    font-size: 1.2rem;
}
.menu-area ul li a.fa-brands{
    color: red;
}
.y-icon {
    color: red;
}
button.menu-btn {
    height: 61px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 19px;
}
button.menu-btn a {
    text-decoration: none;
    font-size: 1.2rem;
}
/* banner area start */

.banner-area {
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.banner-info {
    width: 50%;
    /* background-image: url("images/Group\ 14.png"); */
}

.banner-image {
    width: 50%;
}
.banner-image img {
    width: 100%;
}
.b-info-title {
    font-size: 3rem;
    font-weight: 600;
    color: #0B0223;
    margin-bottom: -48px;
}

.b-info-title-two {
    font-size: 5.5rem;
    font-weight: 800;
    margin-bottom: 0px;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.b-info-text {
    font-size: 20px;
    font-weight: 500;
    color: #534C64;
}
.banner-info-button {
    display: flex;
    gap: 30px;
}
.banner-btn {
    color: #fff;
    border-radius: 48px;
    background: #FF42A5;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 12px 30px;
    border: none;
}
.banner-btn-two{
    color: #fff;
    border-radius: 48px;
    background: #4EC5F7;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 12px 30px;
    border: none;
}

/* online games */
h1.online-title {
    color: #0B0223;
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
}

p.online-description {
    color: #534C64;
    font-size: 1.2rem;
    text-align: center;
    font-weight: 500;
}
.title-color{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.games-box {
    
margin-right: 29px;
    
width: 270px;
    
height: 384px;
}

.games-box img {
    width: 270px;
    height: 318px;
}

p.games-box-title {
    font-size: 1.3rem;
    color: #534C64;
    font-weight: 500;
    margin-top: 7px;
}
.online-games-container {
   
    align-items: center;
    justify-content: space-around;
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
}

.hover-icon .watch-now {
    font-size: 35px;
    color: #fff;
    margin-left: -92px;
}
.hover-icon .icos {
    font-size: 45px;
    color: #fff;
    margin-left: -120px;
}
.hover-icon {
    position: relative;
    top: -298px;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    opacity: 0;
}


/* .games-box img:hover {
    border: 5px solid #FF42A5;
    border-radius: 16px;  
} */
.hover-icon:hover {
    opacity: 1;
    margin-left: 112px;
}


/* play instantly style */

.play-instantly-container {
    width: 80%;
    display: flex;
    align-items: center;
    margin: 0 auto;
}
h1.instant-title {
    font-size: 3rem;
    font-weight: 800;
    color: #0B0223;
}
.play-instant-info {
    width: 50%;
    text-align: center;
}

.play-instant-image {
    width: 50%;
}
.play-instant-image img {
    width: 85%;
}
.instant-over-images img {
    width: 220px;
    height: 250px;
    position: relative;
    margin-top: -135px;
    margin-left: -108px;
}
















@media screen and (max-width:576px) {
    nav, .menu-area ul, .online-games-container, .play-instantly-container {
       flex-direction: column;
    }
    .online-games-container{
        grid-template-columns: repeat(1,1fr);
    }
    .banner-area{
        flex-direction: column-reverse;
    }
    .banner-info, .banner-image, .play-instant-info, .play-instant-image {
        width: 100%;     
    }  
    .banner-btn, .banner-btn-two {
        font-size: 14px;
    }
    h1.online-title{
        font-size: 2rem;
    }
    p.online-description{
        font-size: 1rem;
    }
    .b-info-title-two{
        font-size: 5rem;
    }
    .games-box {
        height:auto;
        width: auto;
        margin-bottom: -100px;
    }
    .play-instant-image img {
        margin-left: 45px;
    }
    .instant-over-images img{
        margin-left: -41px;
        width: 50%;
        height: 50%;
    }
    /* .action-container{
        grid-template-columns: repeat(3,1fr);
    }
    .action-container{
        margin: 0 0;
    }
    .actin-box img{
        width: 30px;
        height: 30px;
    }
    div#box-side{
        margin-right: 0px;
    }
    .footer-logo {
     margin-left: 30px;
        
    }
    .items ul{
        grid-template-columns: repeat(3,1fr);
        margin-left: -41px;
        font-size: 1rem;
        gap: 16px;
    }
    .icon-item {
        margin-left:95px;
    }
    .privacy {
       
        grid-template-columns: repeat(2,1fr);
        margin-left: -41px; 
        color: #fff;
    }
    p.footer-text{
        margin:0px 56px;
    } */

}

/* Tablet responsive start */

@media screen and (min-width:576px) and (max-width:992px) {
    .banner-area{
        flex-direction: column-reverse;
    }
    .b-info-title-two{
        font-size: 5rem;
    }
    .banner-info,.banner-image,.play-instant-info,.play-instant-image {
        width: 100%;  
    }
    .play-instantly-container{
        flex-direction: column;
    }
    
    .online-games-container{
        grid-template-columns: repeat(2,1fr);
    }
    .play-instant-image img {
        margin-left: 45px;

    }
    .instant-over-images img{
        margin-left: -53px;
    }
    /* .action-container,.items ul{
        grid-template-columns: repeat(3,1fr);
    }
    .privacy{
        grid-template-columns: repeat(2,1fr);
        margin-left: 20px;
    }
    div#box-side{
        margin-right: 0px;
    }
    .footer-logo {
      margin-left: 183px;  
    }
    .items ul {  
        margin-left: 18px;
    }
    .icon-item{
        margin-left: 230px;
    }
    p.footer-text{
        margin-left: 85px;
    } */
}